[Unit]
Description=BotYou
After=network.target

[Service]
ExecStart=/usr/bin/python3 /san/bot/main.py
WorkingDirectory=/san/bot/
Restart=always
User=San

[Install]
WantedBy=multi-user.target
